[Desktop Entry]
Name=Blockbench
Exec=blockbench-snapcraft --no-sandbox %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/blockbench-snapcraft.png
StartupWMClass=Blockbench
Comment=Blockbench ${SNAPCRAFT_PROJECT_VERSION}
Categories=Art and design;